<html>
<head>
	<title>Registration Form</title>
  <style>
		body
		{
			background-image:url("fruits.jpg");background-repeat:no-repeat;
                        background-size=100%;

		}
		.button {
  background-color: #4CAF50;
  background-image: linear-gradient(to bottom right, yellow, green);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

   </style>
</head>
<body>


<center>
<br><br><br><br><br>
<form method="POST">			
			</center>
			<table>
			<tr><td><h1><center> Welcome Home</h1></tr><td>
			<tr><td>
             <tr><td><a href="../views/AddCustomer.html" class="button">Add Delivery Boy</a></td></tr>
             <tr><td><a href="../views/AddCustomer.html" class="button">Add Store-in-charge</a></td></tr>
			 <tr><td><a href="../views/AddCustomer.html" class="button">Add Farmer</a></td></tr>
			 <tr><td><a href="../db/customerlist.php" class="button">See Customer List</a></td></tr>
			 <tr><td><a href="../db/farmerlist.php" class="button">See Farmer List</a></td></tr>
			 <tr><td><a href="../db/deliveryboylist.php" class="button">See Delivery Boy List</a></td></tr>
              <tr><td><a href="../db/storeincharge.php" class="button">See Store-in-charge List</a></td></tr>

				<tr>
			<td colspan="2"><input type="submit" name="reg" value="Signup"  class="button">
			</tr>
			<tr>
				
		 <td colspan="2"><a href="AdminHome.html"  class="button">Back</a></td>
			</tr>
				
			
	</table>
				
				</form>
				</body>
				</html>
				
			