<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
    <style>
		body
		{
			background-image:url("fruits.jpg");background-repeat:no-repeat;
                        background-size=100%;

		}

   </style>
</head><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
 <body>

	<form method="POST" action="LoginCheck.php">
		<table align="Center" bgcolor="Yellow">
			<tr>
				<td>User Name:</td>
				<td><input type="text" name="name"></td>
			</tr><tr>
				<td>User ID:</td>
				<td><input type="text" name="id"></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type="password" name="pass"></td>
			</tr>
			<tr>
				<td><input type="submit" name="submit" value="submit"></td>
                                 <td><a href="Registration.html">Sign up</td>                                          
			</tr>
                        
		</table>
	</form>

</body>
</html>