<!DOCTYPE html>
<html>
<head>
	<title>Payment Page</title>
    <style>
		body
		{
			background-image:url("fruits.jpg");background-repeat:no-repeat;
                        background-size=100%;

		}

   </style>
</head><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
 <body>

	<form method="POST">
		<table align="Center" bgcolor="Yellow">
			<tr>
					<td>Payment Method</td>
					<td>
						<input type="radio" name="type" value="Cash"> Cash
						<input type="radio" name="type" value="Bkash"> Bkash 
					
					</td>
				</tr>
				<tr>
				<td><a href="Logout.php">Log Out</a></td>
				<td><a href="home.php">Go home</a></td>
				</tr>
				</table>
	</form>

</body>
</html>